APP_ENV=local
APP_STATUS=NOT-INSTALLED
APP_DEBUG=true
APP_KEY=base64:a0b1c2d3e4f5g6h7i8j9k0l1m2n3o4p5r6s7t8u9v0y=
APP_URL=
APP_TIMEZONE=Europe/Istanbul
APP_LOCALE=en
PUBLIC_DIR=public_html
DEFAULT_CURRENCY=EUR
DEFAULT_ACCOUNT=1

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
